# Build dirs
/.build
/[bB]uild
/[dD]ebug
/[rR]elease

# Artefacts
*.exe
*.app
makeobj
sim

# Ignore by default any files inside
/simutrans/

# Makefile configurations
/config.*
/configure
.autom4ate.cache

# Object files
#  GCC
*.d
*.o
#  Visual Studio
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgd
*.tlog
ipch/

# Visual Studio
.vs/
*.sdf
*.sln
*.suo
*.vcx*
*.vcproj*
/revision.h

# working files
*.pak
*.zip
*.log
*.diff
*.patch

# Other files
/doxygen
*.rej
*.orig
#  Linux 
*~
#  MacOS
.DS_Store
*.xcode*
#  Windows
[dD]esktop.ini
